.clients__title {
  background-color: var(--primary-white-color);
}
.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @extend %list;
  margin-bottom: -30px;
}
.company__item {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(2n) {
      margin-right: 30px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(3n) {
      margin-right: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.company__link {
  @include d-flex;
  width: 210px;
  height: 92px;
  color: var(--icon-color);
  fill: currentColor;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
