html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.container {
  margin-right: auto;
  margin-left: auto;
  // padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.section__title {
  // margin-top: 0;
  // margin-bottom: 50px;
  color: var(--title-text-color);
  @include text(700, 36px, 1.16, center);
}
.title--hidden {
  position: absolute;
  color: transparent;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
