.features {
  // padding-bottom: 94px;
  background-color: var(--primary-white-color);
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.features__list {
  // display: flex;
  list-style: none;
  // margin-top: 0;
  // margin-right: calc(-1 * var(--card-set-gap));
  // margin-bottom: 0;
  // padding: 0;
  // flex-wrap: wrap;
}
.features__img {
  margin-right: var(--card-set-gap);
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}
.features__text {
  // @include d-flex;
  position: absolute;
  // width: 370px;
  // height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  text-transform: uppercase;
  @include text(700, 14px, 1.143, null);
}
