.footer {
  // display: flex;
  // width: 100%;
  background-color: var(--footer-color);
}
.footer__block {
  @media screen and (min-width: 480px){
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  // width: 100%;
}
.footer__adress {
  text-align: center
  
  // margin-right: 70px;
}
.adress__list {
  @extend %list;
  display: block;
}
.adress__list > li {
  margin-top: 9px;
}
.adress {
  @media screen and (min-width: 480px){
  display: block;
  margin-bottom: 60px;
  }
  
}
.adress__text {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.adress__link {
  
  margin-top: 9px;
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
  list-style: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
   @media screen and (min-width: 480px){
     margin-bottom: 60px;
   }
  // margin-right: 70px;
}
.footer__title {
  // margin-bottom: 20px;
  text-transform: uppercase;
  @include text(700, 14px, 1.142, null);
  color: var(--primary-white-color);

  @media screen and (min-width: 480px){
    margin-bottom: 20px;
    text-align: center;
  }
}
.join__list {
  @include d-flex(flex, center, null);
  @extend %list;
  // margin-bottom: 30px;
}
.join__item {
  &:not(:last-child) {
     margin-right: 10px;
  }
}

.join__link {
  @include d-flex;
  @extend %soc-link;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.join__icon {
  fill: currentColor;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__form input::placeholder {
  // padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__mail {
  
  height: 50px;
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--primary-white-color);
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  @media screen and (min-width: 480px){
    width: 450px;
    margin-bottom: 20px;
  }
}

// .subscribe__form label {
//   margin-right: 12px;
//   max-width: 358px;
// }
.subscribe__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  @extend %box;
  @include text(700, 16px, 1.875, center);

  cursor: pointer;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 @media screen and (min-width: 480px){
  padding: 10px 29px;
 }
}
.subscribe__btn svg {
  margin-left: 10px;
}
