.footer {
  width: 100%;
  background-color: var(--footer-color);
}
.footer__block {
 
    display: flex;
    flex-direction: column;
    align-items: center;
  
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: baseline;
  }
}
.footer__adress,
.join {
  align-items: flex-start;
}

.footer__adress {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
  }
}
.adress__list {
  @extend %list;
  display: block;
}
.adress__list > li {
  margin-top: 9px;
}
.adress {
  
    display: block;
    margin-bottom: 60px;
 
  @media screen and (min-width: 1200px) {
  margin-bottom: 0;
}
}
.adress__text {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}
.adress__link {
  margin-top: 9px;
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
  list-style: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
.footer__title {
  text-transform: uppercase;
  @include text(700, 14px, 1.142, null);
  color: var(--primary-white-color);
    margin-bottom: 20px;
    text-align: center;
  @media screen and (min-width: 1200px) {
    text-align:start;
  }
}
.join__list {
  @include d-flex(flex, center, null);
  @extend %list;
}
.join__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  @include d-flex;
  @extend %soc-link;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.join__icon {
  fill: currentColor;
}
// .subscribe {
//   width: 50%;
// }
.subscribe__form {
  
  @media screen and (min-width: 468px){
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.subscribe__form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__mail {
  padding: 15px 16px;
  height: 50px;
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.25;
  min-width: 290px;
  max-width: 450px;
    margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }  
}

.subscribe__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 29px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  @extend %box;
  @include text(700, 16px, 1.875, center);

  cursor: pointer;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-right: 0;
  }  
}
.subscribe__btn svg {
  margin-left: 10px;
}
