.menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-toggle {
  @extend %button;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-conteiner {
  @media screen and (max-width: 767px) {
    padding: 20px 25px 48px 40px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: var(--primary-white-color);
    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }
}

.js-close-menu {
  top: 10px;
  right: 15x;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.menu-nav {
  padding: 0;
  margin-bottom: auto;
}
.menu-nav__item {
  display: block;
  position: relative;
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    @include text(500, 40px, 0.85, null);
    margin-bottom: 30px;
  }
}
.menu-nav__link--current {
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (max-width: 767px) {
    @include text(500, 40px, 0.85, null);
  }
}
.menu-auth {
  @extend %list;
  margin-bottom: -10px;
}
.menu-auth__item {
  margin-bottom: 10px;
}
.menu-auth__link {
  color: var(--primary-text-color);
  text-decoration: none;
  @include text(500, 14px, 1.14, null);
}
.menu-auth__link.phone {
  color: var(--accent-color);
  margin-bottom: 32px;
  @include text(500, 34px, 1.176, null);
}
.menu-auth__link.mail {
  @include text(500, 24px, 1.166, null);
}
.link-box {
   @media screen and (max-width: 767px) {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 64px;
   
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

}
.link-box__item {
&:not(:first-child) {
    padding-left: 10px;     
    }   
  &:not(:last-child) {
    padding-right: 10px; 
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.link-box__link {
  @media screen and (max-width: 767px) {
    text-decoration: none;
    color: var(--accent-color);
    display: block;
    @include text(500, 18px, 1.22, null);   
  }
}
