input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // min-width: 528px;
  // min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (max-width: 767px){
    width: 450px;
    height: 609px;
  }
}
.modal__btn--close {
  @include d-flex;

  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.form {
  // width: 448px;
  background: #ffffff;
   @media screen and (max-width: 767px){
    width: 370px;
   }
}
.form__title {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  @include text(700, 20px, 1.15, center);
  color: var(--title-text-color);

}
.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.form__lable {
  position: absolute;
  @include text(400, 12px, 1.166, null);
  padding-bottom: 10px;
}

.form__input {
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__field:focus-within & {
    border-color: var(--accent-color);
  }
}
.form__comment {
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}
.form__icon {
  position: absolute;
  display: inline-block;
  top: 55%;
  left: 15px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__field:focus-within & {
    fill: var(--accent-color);
  }
}

.form__comment {
  height: 120px;
  padding-top: 12px;
  padding-left: 40px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    margin: 12px 16px;
    font-size: 12px;
    line-height: 1.166;
    color: rgba(117, 117, 117, 0.5);
  }
}

.agree__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  min-width: 200px;
  @extend %box;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  @include text(700, 16px, 1.875, center);

  cursor: pointer;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--focus-btn);
  }
}

.agree {
  position: relative;
  @include d-flex(flex, null, center);
  left: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  @media screen and (max-width: 767px){
    @include text(400, 12px, 1.172, null);
   }
}
.agree__icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    border-color: 2px solid var(--accent-color);
  }
  .agree__input:checked & {
    background-color: var(--accent-color);
    background-image: url(./images/icon-check.svg);
    background-size: contain;
    border-color: var(--accent-color);
    background-origin: border-box;
  }
}
.agree__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.agree__link {
  color: var(--accent-color);
  padding-left: 5px;
}
