.oder {
  display: flex;
  align-items: center;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bcg.jpg);
  background-color: var(--footer-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bcg@2x.jpg);
  }
}
.oder__title {
  font-family: Roboto;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  @include text(900, 20px, 1.615, center);
  @media screen and (min-width: 480px) {
  @include text(900, 26px, 1.615, center);
  }
  
  @media screen and (min-width: 1200px) {
    @include text(900, 44px, 1.36, center);
  }
}
.oder__btn {
  @extend %box;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  @include text(700, 16px, 1.875, center);
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--focus-btn);
  }
}
