.works {
  margin-top: 0;
}
.work__list {
  @extend %list;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.work__item {
  margin-bottom: 30px;
  padding: 0;
  height: auto;
  width: 100%;

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 6) {
      margin-bottom: 0;
    }
  }
}

.work__link {
  display: block;
  text-decoration: none;
  color: var(--title-text-color);
  @include text(700, 18px, 2, null);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--title-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card-tunb {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .work__item:hover &,
    .work__item:focus & {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.card-tunb__img {
  width: 100%;
}
.card-tunb__text {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 63px 24px;
  @include text(400, 18px, 1.56, null);

  color: var(--primary-white-color);
  transform: translateY(calc(100% + 70px));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .work__item:hover &,
  .work__item:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}
.card-content {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.card-content__title {
  margin-bottom: 4px;
  @include text(700, 18px, 2, null);

  color: var(--title-text-color);
}
.card-content__text {
  @include text(400, 16px, 1.875, null);

  color: var(--primary-text-color);
}
