:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --icon-color: #afb1b8;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --focus-btn: #188ce8;
  --bacground-fon-color: #f5f4fa;
  --footer-color: #2f303a;
  --link-color: rgba(255, 255, 255, 0.6);

  --card-set-gap: 30px;
}